body {
  margin: 0;
  background: #1b2838;
  font-family: Arial;
  color: white;
}

.container {
  padding: 40px 120px;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #171a21;

  padding: 25px 60px;

  border-bottom: 5px solid #1b2838;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo img {
  width: 80px;
}

.logo h1 {
  font-size: 40px;
}

input {
  width: 420px;

  padding: 12px;

  background: #3b6e8f;

  border: none;

  color: white;

  font-size: 20px;

  outline: none;
}

input::placeholder {
  color: #c7d5e0;
  font-style: italic;
}

.cart {
  font-size: 50px;
  cursor: pointer;
}

/* TITULOS */

section {
  margin-top: 80px;
}

section h1 {
  margin-bottom: 35px;
  font-size: 40px;
}

/* CARDS PROMO */

.promo-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.promo-card {
  width: 280px;
  background: #2c7fb4;
}

.promo-card img {
  width: 100%;
  height: 380px;

  object-fit: cover;
}

.promo-info {
  padding: 15px;
}

.promo-info h2 {
  font-size: 22px;
}

.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #344654;

  padding: 10px;

  margin-top: 15px;
}

.prices span {
  background: #6a9f00;

  padding: 8px 14px;

  color: #c6ff00;

  font-size: 28px;

  font-weight: bold;
}

button {
  width: 100%;

  background: #549300;

  border: none;

  padding: 15px 20px;

  color: white;

  cursor: pointer;

  margin-top: 20px;

  border-radius: 10px;

  font-size: 16px;
}

/* OUTROS JOGOS */

.games-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

.game-card {
  width: 900px;

  display: flex;
  align-items: center;

  background: #2c7fb4;
}

.game-card img {
  width: 300px;
  height: 170px;

  object-fit: cover;
}

.game-info {
  flex: 1;

  padding: 25px;
}

.game-info h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.game-info p {
  color: #c7d5e0;
  margin-bottom: 25px;
}

.game-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-price {
  color: #c6ff00;
  font-size: 30px;
  font-weight: bold;
}

section h1{
  width: 900px;
  margin: 0 auto 35px auto;
}